$loader-icon-size: clamp(24px, 4vw, 50px) !default;

.loader {
  position: fixed;
  z-index: 1;
  height: 100svh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-animation: fade 2.5s forwards linear;
  animation: fade 2.5s forwards linear;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: $loader-icon-size;
    height: $loader-icon-size;
  }

  &::before {
    right: -50px;
    background-image: url('../images/icon/cut.svg');
    animation: moveFromRight 2.5s forwards ease-out;
  }

  &::after {
    left: -50px;
    background-image: url('../images/icon/fork.svg');
    animation: moveFromLeft 2.5s forwards ease-out;
  }
}

@keyframes fade {
  75% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes moveFromRight {
  10% {
    right: -50px;
  }
  40% {
    right: calc(50% - ($loader-icon-size / 2));
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(360deg);
    right: calc(50% - ($loader-icon-size / 2));
  }
  85% {
    right: calc(50% - ($loader-icon-size / 2));
    transform: rotateZ(504deg) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: rotateZ(720deg) scale(1.5);
    right: calc(50% - ($loader-icon-size / 2));
    opacity: 0;
  }
}

@keyframes moveFromLeft {
  10% {
    left: -50px;
  }
  40% {
    left: calc(50% - ($loader-icon-size / 2));
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(360deg);
    left: calc(50% - ($loader-icon-size / 2));
  }
  85% {
    left: calc(50% - ($loader-icon-size / 2));
    transform: rotateZ(504deg) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: rotateZ(720deg) scale(1.5);
    left: calc(50% - ($loader-icon-size / 2));
    opacity: 0;
  }
}