@import "back-icon/back-icon";

.header-container {
  position: relative;
  @include q-light-shadow;
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 36px;
    width: auto;
  }
}

@media (max-width: 768px) {
  .header-container {
    height: 63px;
    img {
      height: auto;
      width: 162px;
    }
  }
}