@import "card-menu-success/card-menu-success";

.-card-menu {
  @include q-card-light-shadow;
  opacity: 0;
  cursor: pointer;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;

  &:hover .card-menu-success, &:active .card-menu-success {
    width: 59px;
    i {
      opacity: 1;
      transform: rotateZ(-360deg);
    }
  }

  .card-menu-description {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    & > * {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .card-price {
    margin: 0 0 10px 0;
  }

  .section-content {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 0 10px 15px;
    width: max-content;
    margin: 0 auto 0 0;
  }
}


@media (max-width: 380px) {
  .-card-menu {
    &:hover .card-menu-success, &:active .card-menu-success {
      width: 24%;
      max-width: 59px;
    }
  }
}