.card-menu-success {
  font-size: 20px;
  color: $global-fill-color-shade-100;
  height: 100%;
  overflow: hidden;
  width: 0;
  background-color: $global-color-green;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width .4s linear;
}