@mixin q-text-size($size) {
  $pixel-size: $size * 1px;

  &.-ts#{$size} {
    font-size: $pixel-size;
  }
}

@mixin q-text-sizes {
  $text-sizes: 13, 14, 18, 24, 30, 48;

  @each $text-size in $text-sizes {
    @include q-text-size($text-size);
  }
}

@mixin q-text {
  @include q-text-sizes;
  font-size: 16px;
  font-weight: 300;

  &.-dark-light {
    color: $global-text-color-shade-10;
  }

  &.-bold {
    font-weight: 500;
  }

  &.-extra-bold {
    font-weight: 700;
  }

  &.-card-title {
    font-size: 17px;
  }

  &.-upper {
    text-transform: uppercase;
  }
}

.text {
  @include q-text;

  &.-under-line{
    position: relative;
    &::after  {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 40px;
      height: 3px;
      background-color: $global-text-color-light-green;
    }
  }

  &.-center {
    text-align: center;
  }
}