@mixin q-padding($spacing) {
  $spacing-width: $spacing * 1px;

  &.-s#{$spacing} {
    padding: $spacing-width;
  }

  &.-v#{$spacing} {
    padding-top: $spacing-width;
    padding-bottom: $spacing-width;
  }

  &.-h#{$spacing} {
    padding-right: $spacing-width;
    padding-left: $spacing-width;
  }
}

@mixin q-mobile-padding($spacing) {
  $spacing-width: $spacing * 1px;

  &.-mobile-s#{$spacing} {
    padding: $spacing-width;
  }

  &.-mobile-v#{$spacing} {
    padding-top: $spacing-width;
    padding-bottom: $spacing-width;
  }

  &.-mobile-h#{$spacing} {
    padding-right: $spacing-width;
    padding-left: $spacing-width;
  }
}

@mixin q-paddings {
  $paddings: 10, 15, 30, 40, 50, 70;

  @each $padding in $paddings {
    @include q-padding($padding);
  }
}

@mixin q-mobile-paddings {
  $paddings: 10, 15, 20, 30, 40, 50, 70;

  @each $padding in $paddings {
    @include q-mobile-padding($padding);
  }
}

@mixin q-grow($grow) {
  &.-g#{$grow} {
    flex-basis: 0;
    flex-grow: $grow;
  }
}

@mixin q-grows {
  $grows: 1, 2, 3, 4, 5, 6;

  @each $grow in $grows {
    @include q-grow($grow);
  }
}


@mixin q-size($size) {
  &.-s#{$size} {
    width: $size * 1px;
    height: $size * 1px;
  }
}

@mixin q-sizes {
  $sizes: 24;

  @each $size in $sizes {
    @include q-size($size);
  }
}