$button-rounded-color-background-primary: $global-main-color;
$button-rounded-color-background-secondary: $global-secondary-color;
$button-rounded-color-text: $global-text-color-shade-100 !default;

$button-rounded-font-family: $global-sans-primary-font-family !default;
$button-rounded-font-size: $global-font-size !default;
$button-rounded-border-size: 2px !default;
$button-rounded-padding: 21px !default;
$button-rounded-height: 50px !default;
$button-rounded-border-radius: 25px !default;

$button-rounded-line-height: $button-rounded-height - ($button-rounded-border-size * 2);

.button-rounded {
  @include q-shadow;
  border: none;
  outline: none;
  background: linear-gradient(180deg, $button-rounded-color-background-secondary -8.44%, $button-rounded-color-background-primary 123.93%);
  color: $button-rounded-color-text;
  border-radius: $button-rounded-border-radius;
  padding: 0 $button-rounded-padding;
  height: $button-rounded-height;
  line-height: $button-rounded-line-height;
  font-family: $button-rounded-font-family;
  font-size: $button-rounded-font-size;
  font-weight: 500;
  cursor: pointer;
  transition: filter .2s;
  width: fit-content;
  min-width: 185px;

  &:hover {
    filter: brightness(1.1);
  }
}