@mixin q-gap-sizes {
  $gap-sizes: 5, 17, 20, 30, 40;

  @each $gap-size in $gap-sizes {

    &.-gap#{$gap-size} {
      gap: $gap-size * 1px;
    }

    @each $gap-height in $gap-sizes {
      &.-gap#{$gap-size}-#{$gap-height} {
        gap: $gap-size * 1px $gap-height * 1px;
      }
    }
  }
}

@mixin q-gap {
  @include q-gap-sizes;
}