$global-main-color: #9356DC;
$global-secondary-color: #FF79DA;
$global-main-bg-color: #f6f6f6;
$global-filter-bg-color: #DEEBFF;
$global-color-grey: #EAEAEA;

$global-text-color-shade-100: #fff;
$global-text-color-shade-10: #353535;
$global-text-color-shade-0: #000;

$global-fill-color-shadow: rgba(#000000, 0.4) !default;
$global-fill-color-light-shadow: rgba(#000000, 0.15) !default;

$global-fill-color-shade-100:#fff !default;
$global-fill-color-shade-40: $global-color-grey !default;